---
layout: default
title: home
---

{% include feature.html %}

<section id="content" class="body">
	
	<ol id="posts-list" class="hfeed">
	  {% for post in site.posts %}
		<li><article class="hentry">	
			<header>
				<h2 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
			</header>
			
			<footer class="post-info">
				<abbr class="published" title="{{ post.date }}"><!-- YYYYMMDDThh:mm:ss+ZZZZ -->
					{{ post.date | date_to_string }}
				</abbr>

				<address class="vcard author">
					<a class="url fn" href="#">{{ post.author }}</a>
				</address>
			</footer><!-- /.post-info -->
			
			<div class="entry-content">
				{{ post.content | truncate: 450 }}
			</div><!-- /.entry-content -->
		</article></li>
		{% endfor %}
	</ol><!-- /#posts-list -->
	
</section><!-- /#content -->
