<header id="banner" class="body">
	<h1><a href="{% unless page.title == 'home' %}.{% endunless %}./">RefineryCMS Tutorials <span>Learn and teach others how to use and create with RefineryCMS.</span></a></h1>
	<nav><ul>
		<li {% if page.title == 'home' %}class="active"{% endif %}><a href="{% unless page.title == 'home' %}.{% endunless %}./">home</a></li>
		<li {% if page.category == 'beginner' %}class="active"{% endif %}><a href="{% unless page.title == 'home' %}.{% endunless %}./#beginner">beginner</a></li>
		<li {% if page.category == 'intermediate' %}class="active"{% endif %}><a href="{% unless page.title == 'home' %}.{% endunless %}./#intermediate">intermediate</a></li>
		<li {% if page.category == 'advanced' %}class="active"{% endif %}><a href="{% unless page.title == 'home' %}.{% endunless %}./#advanced">advanced</a></li>
	</ul></nav>
</header><!-- /#banner -->
